[submodule "api-server"]
	path = api-server
	url = git@github.com:DevMine/api-server.git
	branch = master
[submodule "crawld"]
	path = crawld
	url = git@github.com:DevMine/crawld.git
	branch = master
[submodule "featscomp"]
	path = featscomp
	url = git@github.com:DevMine/featscomp.git
	branch = master
[submodule "ght2dm"]
	path = ght2dm
	url = git@github.com:DevMine/ght2dm.git
	branch = master
[submodule "parsers"]
	path = parsers
	url = git@github.com:DevMine/parsers.git
	branch = master
[submodule "repotool"]
	path = repotool
	url = git@github.com:DevMine/repotool.git
	branch = master
[submodule "srcanlzr"]
	path = srcanlzr
	url = git@github.com:DevMine/srcanlzr.git
	branch = master
[submodule "srccat"]
	path = srccat
	url = git@github.com:DevMine/srccat.git
	branch = master
[submodule "srctool"]
	path = srctool
	url = git@github.com:DevMine/srctool.git
	branch = master
[submodule "webapp"]
	path = webapp
	url = git@github.com:DevMine/webapp.git
	branch = master
